
$thin-white: rgba(255, 255, 255, 0.5);
$faint-white: rgba(255, 255, 255, 0.3);

#{$GlobalRateMap-container} {
  .key{
    text-align: center;
    margin: 0 auto 1rem auto;
    position: relative;
    .text-inline{
      display: inline-block;
    }
    .key-text{
      font-size: .8rem;
      font-weight: 100;
      line-height: .9rem;
      color: hsla(0,0%,100%,.75);
      margin-bottom: 0;
      b{
        font-weight: 700;
      }
      &.left-text{
        text-align: right;
        width: 150px;
        vertical-align: top;
        margin-top: -8px;
      }
      &.orange-text,&.white-text,&.red-text{
        vertical-align: top;
      }
      
    }

  }

  path.active.centroid {
      stroke-width: 3!important;
      /*stroke: #2F353F!important*/
    }

  path.country.active {
    fill: $faint-white;
    stroke-width: 1px!important;
  }

  /* Write your chart styles here */

  .text-group{
    text{
      pointer-events: none;
      fill: hsla(0,0%,100%,.75);
      font-family: $font-family-sans-serif;

      font-size: 1rem;
      text-shadow: 2px 2px 2px #333, 2px 2px 2px #333, 0 -2px 0 #333, -2px 0 0 #333;
      tspan.smaller{
        font-size: 0.65rem;
      }
    }
  }
  .annotation{
      text-anchor: middle;
      fill: hsla(0,0%,100%,.75);
      font-family: $font-family-sans-serif;

      font-size: 1rem;
      text-shadow: 2px 2px 2px #333, 2px 2px 2px #333, 0 -2px 0 #333, -2px 0 0 #333;
      tspan.smaller{
        font-size: 0.65rem;
      }
  }
}


